<div class="container py-3">
    <header>
     
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
        <p class="fs-5 text-body-secondary">Find the perfect pricing plan to elevate your Forex trading experience and gain a competitive edge in the market.</p>
      </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Starter</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Up to 2 Signals Everyday</li>
                <li>Access to our telegram Channel </li>
                <li>1 Month Subscription</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <a href="#sign-up" type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$30<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Up to 3 Signals Everyday</li>
                <li>Access to our telegram Channel</li>
                <li>1 Month Subscription</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <a href="#sign-up" type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-gold">
            <div class="card-header py-3 text-bg-warning border-warning">
              <h4 class="my-0 fw-normal">Golden</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$200<small class="text-body-warning fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> 3-4 Signals Everyday</li>
                <li>Private Whatsapp group</li>
                <li>Forex trading classes </li>
                <li>1 Month Subscription</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <a href="#sign-up" type="button" class="w-100 btn btn-lg btn-warning">Get started</a>
            </div>
          </div>
        </div>
      </div>
  <br>
      <div class="container">
        <div class="text-center mb-4">
          <h2>We Accept Payment Methods</h2>
        </div>
      
        <div class="row align-items-center">
          <div class="col-md-3 text-center">
            <img src="/images/visa.png" alt="Visa" class="img-fluid flip-image" width="100" height="100">
          </div>
          <div class="col-md-3 text-center">
            <img src="/images/btc.png" alt="Mastercard" class="img-fluid flip-image" width="80" height="80">
          </div>
          
          
          <div class="col-md-3 text-center">
            <img src="/images/paypal.png" alt="PayPal" class="img-fluid flip-image" width="80" height="80">
          </div>
          <div class="col-md-3 text-center">
            <img src="/images/skrill.png" alt="American Express" class="img-fluid flip-image" width="100" height="100">
          </div>
        </div>
      </div>
      
    </main>
  
  </div>